{% extends 'base.html'%}
{%block content%}

<div class="container my-3">
    <form>
  <h1 class="border-bottom py-2"><strong>UWPP: Universal Web Project Platform</strong></h1>
  <p>  2024년에 진행했던 백엔드 프로젝트를 정리도 할 겸 편하게 메모 할 만한 공간이나 실시간 사진 첨부가 용이한 lecture note 프로그램이 없기에 만든 사이트다.</p>
  <p>
    백엔드 프로젝트 정리에 중점을 두다보니 서버 자체를 Raspberry Pi에 직접 올려서 돌리고 있다.
  </p>

  <div>
    <h5>사이트의 구성을 소개하자면:</h5>
    <ul>
      <li>
        <a href="{%url 'mebo:index'%}"><strong>Memo Board</strong></a> – 간편 메모장이자 강의 노트.
        컴퓨터로 메모할만한 나만의 공간을 찾기 힘들었다.
        물론 메모장이 있긴 하지만, 로컬에 저장되는 거라 언제 어디서나 확인하기에는 불편했다. 
        OneDrive와 연동시켜 사용하는 메모 프로그램은 연동이 잘 안되는 경우가 종종 있어 사용하기 불편했다.
        Keep도 써봤지만 강의 노트로 쓰기에는 적절하지 않았고, Notion은 메모로 쓰기에 나에게는 불편했다. 
        그래서 만든 기능이다.
      </li>
      <li>
        <a class="link disabled" ><strong>Blog</strong></a> – 추후 추가될 예정
      </li>
      <li>
        <a class="link disabled" ><strong>Daily Platform</strong></a> – 학교 포털 사이트에서 착안한 일정
        플랫폼. 장기 계획부터 시시각각 해야 할 일을 구성하고 행동할 수 있게 해
        주는 기능으로, 스마트폰 앱으로도 확장시키려 한다. 아직은 구상만 있고,
        실제 개발은 제대 직후가 되지 않을까 싶다.
      </li>
    </ul>
  </div>

  <p>
    혼자 쓸 생각이긴 해도, 가용 동시 접속자 수는 20명 정도로 예상이 되는 만큼 로그인 기능을 추가해서 사용자 각각의 sandbox처럼 작동하게 하고 있다. 회원가입은 관리자가 직접 등록하는 방식이다.
  </p>
  </form>
</div>
<br>
{%if user.is_authenticated%}
<div class="text-center">
<p><strong>빠르게 서버에 파일을 업로드하세요</strong></p>
<a class="btn btn-success" href="{% url 'common:upload' %}">File Upload</a>
</div>
{%else%}
<br>
<br>
{%endif%}
<br>
{% endblock %}
  